<br />
<form role="form" asp-action="ConfirmCode" asp-controller="Account" method="POST">
  <div class="form-group">
    <label for="code">Код подтверждения:</label>
    <input type="text" class="form-control" id="code" name="code">
  </div>
  <button type="submit" class="btn btn-success">Ввести</button>
</form>