@{
    ViewData["Title"] = "Главная";
}

<div class="jumbotron">
    <h1>Налоги в Приват24 для бизнеса</h1>
    <p class="lead">Налоги в Приват24 для бизнеса - это удобное Веб приложение для подсчета налога за определенный период.</p>
</div>